<md-list flex>
    <md-subheader class="md-no-sticky centerThis" >
	    {{message}}
    </md-subheader>
    <md-list-item>
        <md-icon md-svg-icon="public/images/edit.svg"></md-icon> <md-button class="md-primary" ng-href="#quotesheet">Make New Quoatation</md-button>
    </md-list-item>
    <md-list-item>
        <md-icon md-svg-icon="public/images/search.svg"></md-icon> <md-button class="md-primary" ng-href="#contact">Lookup Quotation</md-button>
    </md-list-item>
    <md-list-item>
        <md-icon md-svg-icon="public/images/search.svg"></md-icon> <md-button class="md-primary" ng-href="#customerlookup">Lookup Customer</md-button>
    </md-list-item>
    <md-list-item>
        <md-icon md-svg-icon="public/images/add.svg"></md-icon> <md-button class="md-primary">Add New Customer</md-button>
    </md-list-item>
</md-list>